@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}



.heading1{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    padding: 2rem;
    letter-spacing: 0.1rem;
}


.card{
    min-height:200px;
    width: 13rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 2rem;
    justify-content: space-between;
    align-items: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   

}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 10px 20px 30px;

}

#cloth , #Noncloth{
    width:75rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:2rem;
    justify-content: space-evenly;
    margin-left: 2rem;
    

}

.Brand{
    font-size: 0.8rem;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: gray;
    font-weight: 500;
    margin-left:0.5rem;
}

.img{
    height:18rem;
    width: 13rem;
}


.swag{
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 400;
    margin: 0.5rem;
    font-size:medium;
    letter-spacing: -1px;
}

.price{
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 500;
    margin: 0.5rem;
    font-size:0.8rem;
    letter-spacing: 0.4px;

}

body{
    overflow-x: hidden;
    font-family: 'Foldit', cursive;
    font-family: 'Montserrat', sans-serif;;
}

@media (max-width:310px){
    .card{
        width: calc(20% - 20px);
        display: flex;
        
    }
    .img{
        width: 13.8rem;
    }
}


@media (max-width:290px){
    #cloth{
        transform: translate(-4rem,0);
    }
    #Noncloth{
        transform: translate(-4rem,0);
    }
    .card{
        width: calc(30% - 90px);
        display: flex;
        
    }
    .img{
        width: 16.8rem;
    }
}


@media (max-width:260px){
    #cloth , #Noncloth{
        display: flex;
        flex-direction: column;
        margin-left: 80%;
    }

    .card{
        width: 25rem;
        height: 30rem;
        margin-bottom: 4rem;
    }
    .img{
        width: 25rem;
        height: 24rem;

    }
}

